<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">MyShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%if(session.cart) {%>
        <a class="nav-link float-right" href="/shopping-cart"><i class="fa fa-shopping-cart"></i> Shopping Cart <span class="badge"><%=session.cart.totalQty%></span></a>
        <%} else {%>
          <a class="nav-link float-right" href="/shopping-cart"><i class="fa fa-shopping-cart"></i> Shopping Cart <span class="badge">0</span></a>
          <%}%>
      </li>
      <li class="nav-item dropdown float-right">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i> Your Account
        </a>
        <% if(login===true) { %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Account Settings</a>
          <a class="dropdown-item" href="/users/logout">Log Out</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/profile">My Orders</a>
        </div>
        <% } else { %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/signin">Sign In</a>
            <a class="dropdown-item" href="/users/register">Sign Up</a>
          </div>
          <% } %>
      </li>
      
    </ul>
    
  </div>
</nav>